$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;

// $page_width: 192rem;

$white: #fff;
$black: #000;

// Custom colors //
$green: #12B969;
$blue: #54B6FD;
$dark: #141011;
$text: #3D3638;
$gray: #857D7F;
$light: #F5F5F5;
$brown: #AF6C4D;
$red: #E31235;
$linear: linear-gradient(180deg, rgba(241, 137, 154, 0.40) 0%, rgba(227, 18, 53, 0.40) 100%), #E31235;

// Other
$brs: 1.2rem;


$header: 17.7rem;
$footer: 11.3rem;

$font_path: "@/assets/fonts/";

$font_1: "Rubik-Light";
$font_2: "Rubik-Regular";
$font_3: "Rubik-Medium";
$font_4: "Rubik-Bold";

$font_size_base: 1.6rem;
